<main>
    <section class="py-5 text-center middle">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light text-white">{{ "SIGN_IN" | translate }}</h1>
        </div>
    </section>
    <section class="py-5 d-flex justify-content-center">
        <form (ngSubmit)="SingIn(form.value)" #form="ngForm">
            <div class="form-floating mb-2">
                <input type="email" class="form-control" ngModel name="email" id="floatingInput" placeholder="Your Eemail">
                <label for="floatingInput">{{ "EMAIL_ADDRESS" | translate }}</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" ngModel name="password" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">{{ "PASSWORD" | translate }}</label>
            </div>
            <button class="w-100 btn btn-lg btn-outline-secondary" type="submit">{{ "SIGN_IN" | translate }}</button>
        </form>
    </section>
</main>