<main>
    <section class="py-3 text-center middle">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light text-white">{{ "ADD_ANIMATION" | translate }}</h1>
        </div>
    </section>
    <div class="py-5">
        <div class="container d-flex justify-content-center flex-column w-100">
            <div class="row d-flex justify-content-center">
                <div class="search-form d-flex justify-content-center flex-column">
                    <input type="text" class="form-control" [(ngModel)]="searchKey" placeholder='{{ "ENTER_ANIME_NAME" | translate }}' />
                    <button class="btn btn-outline-secondary mt-2" (click)="search()">{{ "SEARCH" | translate }}</button>
                    <div class="alert alert-danger mt-2" *ngIf="hasError">
                        {{ "MUST_ENTER_ANIME" | translate }}
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="animeErr">
                        {{ "MUST_ENTER_ANIME" | translate }}
                    </div>

                </div>
            </div>
            <div class="row d-flex justify-content-center mt-2 flex-row">
                <div class="d-flex justify-content-center">
                    <span class="badge rounded-pill bg-success ms-1" *ngFor="let name of lastThreeSearches">{{ name }}</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-4" *ngIf="selectAnime">
                <div [formGroup]="form" class="card" style="width: 18rem;">
                    <img class="card-img-top mt-2" [src]="selectAnime.Poster" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ selectAnime.Title }}</h4>
                        <h6 class="card-text">Year: {{ selectAnime.Year }}</h6>
                        <h6 class="card-text">Genre: {{ selectAnime.Genre }}</h6>
                        <h6 class="card-text">imdb: {{ selectAnime.imdbRating }}</h6>
                        <p class="card-text">{{ selectAnime.Plot }}</p>
                        <button class="btn btn-primary" (click)="sumbit()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>