<main>
    <section class="py-5 text-center middle">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light text-white">{{ "ANIME_CATALOGUE" | translate }}</h1>
            <p class="lead text-white">{{ "YOU_CAN_ADD" | translate }}</p>
            <p>
                <button class="btn btn-outline-light" routerLink="add">{{ "ADD_ANIME" | translate }}</button>
            </p>
        </div>
    </section>



    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <ng-container *ngFor="let animes of Anime | async">

                    <div class="col">

                        <div>
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" [src]="animes.poster" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">{{ animes.title }}</h4>
                                    <h6 class="card-text">Year: {{ animes.year }}</h6>
                                    <h6 class="card-text">Genre: {{ animes.genre }}</h6>
                                    <h6 class="card-text">imdb: {{ animes.rating }}</h6>
                                    <p class="card-text">{{ animes.plot }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="delete()">Datails</button>
                                        </div>
                                        <small class="text-muted">{{ animes.time }}</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </ng-container>


            </div>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="btndl">
            <button (click)="deleteAll()" type="button" class="btn btn-danger">Delete All</button>
        </div>
    </div>
</main>