<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <button (click)="catalog()" class="navbar-brand d-flex align-items-center btn btncat">
                <strong>{{ "TITLE" | translate }}</strong>
            </button>
            <div>
                <div class="d-flex align-items-center">
                    <ng-container *ngIf="!isLoggedIn">
                        <button (click)="goToSignIn()" class="btn btn-outline-light me-2">{{ "SIGN_IN" | translate }}</button>
                        <button (click)="goToSignUp()" class="btn btn-outline-light">{{ "SIGN_UP" | translate }}</button></ng-container>
                    <button *ngIf="isLoggedIn" (click)="SignOut()" class="btn btn-danger">{{ "SIGN_OUT" | translate }}</button>
                    <button class="lang en ms-2" [class.inactive]="isEn" (click)="useEn()"></button>
                    <button class="lang ka ms-2" [class.inactive]="isKa" (click)="useKa()"></button>
                </div>
            </div>
        </div>
    </div>
</header>